*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial, Helvetica, sans-serif;
}

body{
background:white;
}


.navbar{
background:black;
color:white;
display:flex;
justify-content:space-between;
align-items:center;
padding:15px 40px;
}

.menu{
list-style:none;
display:flex;
gap:20px;
}

.menu a{
text-decoration:none;
color:white;
}


.container{
width:90%;
margin:40px auto;
display:grid;
grid-template-columns:repeat(3,1fr);
gap:30px;
}



.card{
background: gray;
padding:25px;
border-radius:20px;
text-align:center;
}

.card h2{
margin-bottom:10px;
}

.card p{
margin:15px 0;
}

.card footer{
margin-top:10px;
font-size:14px;
color:dimgray;
}