*{
    font-family:'Times New Roman', Times, serif;
}
body {
    background-image: url("img/fondo.png");
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: #F5EFE6;
    color: #a85665;
    display: flex;
    padding: 15px 40px;
    border-radius: 20px;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 2px 10px rgba(0,0,0,0.1);
}

.buscador input {
    padding: 8px 15px;
    border-radius: 20px;
    border: 1px solid #D4AF37;
    outline: none;
    font-size: 14px;
    transition: 0.3s;
}

.buscador input:focus {
    box-shadow: 0px 0px 8px rgba(212,175,55,0.5);
}

.menu {
    list-style: none;
    display: flex;
    gap: 30px;
}

.titulo1 {
    font-size: 60px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 40px;
    color: #a85665;
}

.titulo2 {
    text-align: center;
    font-size: 36px;
    margin: 40px 0;
    position: relative;
    color: #a85665;
}

.titulo2::after {
    content: "";
    width: 120px;
    height: 4px;
    background: #D4AF37;
    display: block;
    margin: 10px auto;
}

.titulo3 {
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #a85665;
}

.descripcion {
    font-size: 20px;
    text-align: center;
    margin-bottom: 30px;
}

.contenedor {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    gap: 30px;
    padding: 20px;
}

.subtitulo{
    color: #a85665;
}

.producto {
    width: 100%;
    max-width: 280px;
    border: 2px solid #D88C9A;
    padding: 30px;
    border-radius: 15px;
    text-align: center;
    background-color: #F5EFE6;
    color: #4A4A4A;
    box-shadow: 0px 4px 15px rgba(0,0,0,0.1);
    transition: 0.3s;
}

.producto:hover {
    transform: scale(1.05);
}

.producto img {
    width: 100%;
    border-radius: 20px;
}

.precio {
    font-weight: bold;
    color: #D4AF37;
    text-align: center;
}

.boton {
    background-color: #D4AF37;
    color: white;
    border-radius: 5px;
    padding: 10px;
    border: none;
    transition: 0.3s;
}

.boton:hover {
    transform: scale(1.1);
    background-color: #b8962e;
    cursor: pointer;
}

.footer {
    text-align: center;
    background-color: #F5EFE6 ;
    color: #D4AF37;
    padding: 20px;
    margin-top: 40px;
    border-radius: 20px;
}

@media (max-width: 768px) {
    .contenedor {
        grid-template-columns: 1fr;
    }

    .titulo1 {
        font-size: 40px;
    }

    .navbar {
        flex-direction: column;
        gap: 10px;
        text-align: center;
    }
}